aiohttp
aiosignal
anyio
async-generator
async-timeout
attrs
beautifulsoup4
certifi
cffi
chardet
charset-normalizer
click
colorama
cssselect
exceptiongroup
faiss-cpu
fastapi
feedfinder2
feedparser
filelock
frozenlist
greenlet
h11
httptools
idna
jieba3k
joblib
langdetect
lxml
multidict
newspaper3k
nltk
numpy
openai
outcome
pandas
pgvector
Pillow
pycparser
pydantic
PyPDF2
PySocks
python-dateutil
python-docx
python-dotenv
python-multipart
pytz
PyYAML
readability-lxml
regex
requests
requests-file
scikit-learn
scipy
selenium
sgmllib3k
six
sniffio
sortedcontainers
soupsieve
SQLAlchemy
starlette
threadpoolctl
tiktoken
tinysegmenter
tldextract
tqdm
trio
trio-websocket
typing_extensions
urllib3
uvicorn
watchfiles
websockets
wsproto
xxhash
yarl
gradio
