aiohttp
aiosignal
async-timeout
attrs
beautifulsoup4
certifi
chardet
charset-normalizer
click
cssselect
faiss-cpu
feedfinder2
feedparser
filelock
frozenlist
idna
jieba3k
joblib
langdetect
lxml
multidict
newspaper3k
nltk
numpy
openai
pandas
pgvector
Pillow
PyPDF2
python-dateutil
python-docx
pytz
PyYAML
readability-lxml
regex
requests
requests-file
scikit-learn
scipy
sgmllib3k
six
soupsieve
SQLAlchemy
threadpoolctl
tiktoken
tinysegmenter
tldextract
tqdm
typing_extensions
urllib3
yarl
