aiohttp
aiosignal
anyio
async-timeout
attrs
beautifulsoup4
certifi
chardet
charset-normalizer
click
colorama
cssselect
faiss-cpu
fastapi
feedfinder2
feedparser
filelock
frozenlist
greenlet
h11
idna
jieba3k
joblib
langdetect
lxml
multidict
newspaper3k
nltk
numpy
openai
pandas
pgvector
Pillow
pydantic
PyPDF2
python-dateutil
python-docx
pytz
PyYAML
readability-lxml
regex
requests
requests-file
scikit-learn
scipy
sgmllib3k
six
sniffio
soupsieve
SQLAlchemy
starlette
threadpoolctl
tiktoken
tinysegmenter
tldextract
tqdm
typing_extensions
urllib3
uvicorn
xxhash
yarl
